:local {
  .askView{

    .title {
      text-align: center;
      font-size: 2em;

      .subtitle {
        padding-top: .25em;
        font-size: .5em;
        display: block;
      }
    }

    .questionForm {
      min-width: 300px;
      width: 70%;
      margin: 0 auto;
      .formLabel {
        text-align: right;
        display: inline-block;
        width: 30%;
        label {
          display: block;
          margin-bottom: .75em;
        }
      }
      .formControl {
        text-align: right;
        vertical-align: top;
        display: inline-block;
        padding-left: .75em;
        max-width: 300px;
        width: 70%;
        input, textarea{
          width: 100%;
          display: block;
          margin-bottom: .75em;
          font-size: .75em;
        }
        textarea{
          min-height: 150px;
          font-size: 1em;
        }
        button{
          font-size: .70em;
        }
      }
    }

  }
}